/*
////////////////////////////////////
	Button
///////////////////////////////////
*/
	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;
	/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/

	/*
	///////////////////////////
		Default
	///////////////////////////
	*/
		.btn{
			cursor: pointer;
			border: 1px solid transparent;
			padding: 15px 15px;
		}
	/*
	///////////////////////////
		//Default
	///////////////////////////
	*/

	/*
	///////////////////////////
		Sizes
	///////////////////////////
	*/
		/*
			Default
		====================
		*/
			.btn{
				font-size: 100%;
			}
		/*
			Small
		====================
		*/
			.btn-sm{
				font-size: 70%;
			}
		/*
			Medium
		====================
		*/
			.btn-md{
				font-size: 110%;
			}
		/*
			Large
		====================
		*/
			.btn-lg{
				font-size: 130%;
			}
	/*
	///////////////////////////
		//Sizes
	///////////////////////////
	*/
		

	/*
		Mediun
	======================
	*/
		

	/*
		Large
	======================
	*/
		

/*
==================================
	//Sizes
==================================
*/

/*
==================================
	Type
==================================
*/
	/*
		Block
	===================
	*/
		.btn-block{
			display: block;
			text-align: center;
			width: 100%;
		}

/*
==================================
	Type
==================================
*/

	/*
		Primary
	========================
	*/
		.btn-primary{

			background-color: @color_primary;
			color: @color_light;
		}

/*
////////////////////////////////////
	//Button
////////////////////////////////////
*/