/*
===============================
	Icons
===============================
*/

/*
=========================
	Types
=========================
*/
	/*
	=====================
		Header
	=====================
	*/
		/*
			Menu
		================
		*/
			.icon-menu{
				background-image: url(../images/icons/menu-icon.png);
				background-repeat: no-repeat;
			}

		/*
			Search
		================
		*/
			.icon-search{
				background-image: url(../images/icons/search-icon.png);
				background-repeat: no-repeat;
			}
		/*
			Close
		================
		*/
			.icon-close{
				background-image: url(../images/icons/close-icon.png);
				background-repeat: no-repeat;
			}
			.icon-close-white{
				background-image: url(../images/icons/close-white-icon.png);
				background-repeat: no-repeat;
			}
	/*
	=====================
		//Header
	=====================
	*/
	/*
	=====================
		Single
	=====================
	*/
		/*
			Facebook
		=====================
		*/
			.icon-fb-sm{
				background-image: url(../images/icons/fb-white.png);
				background-repeat: no-repeat;
			}

		/*
			Twitter
		=====================
		*/
			.icon-twitter{
				background-image: url(../images/icons/twitter-white.png);
				background-repeat: no-repeat;
			}
		/*
			Whatsapp
		=====================
		*/
			.icon-whatsapp{
				background-image: url(../images/icons/whatsapp.png);
				background-repeat: no-repeat;
			}
	/*
	=====================
		//Singles
	=====================
	*/
	/*
	=====================
		Footer
	=====================
	*/
		/*
			Mail
		=================
		*/
			.icon-mail{
				background-image: url(../images/icons/mail.png);
				background-repeat: no-repeat;
			}

		/*
			Laptop
		=================
		*/
			.icon-laptop{
				background-image: url(../images/icons/laptop.png);
				background-repeat: no-repeat;
			}

		/*
			Face
		=================
		*/
			.icon-face{
				background-image: url(../images/icons/face.png);
				background-repeat: no-repeat;
			}
	/*
	=====================
		//Footer
	=====================
	*/

/*
=========================
	//Types
=========================
*/