/*
//////////////////////////////////
	Typography
//////////////////////////////////
*/
	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
			
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;

		/*
			Font
		======================
		*/
			@typo_regular: Arial, sans-serif;
			@typo_bold: Arial, sans-serif;
			@typo_italic: Arial, sans-serif;
			@typo_size: 16px;

	/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/


	/*
	///////////////////////////
		Settings
	///////////////////////////
	*/
		/*
			Standard
		==================
		*/
			body{
				font-family: @typo_regular;
				font-size: @typo_size;
			}
	/*
	///////////////////////////
		//Settings
	///////////////////////////
	*/

	/*
	///////////////////////////
		Helpers
	///////////////////////////
	*/
		/*
		//////////////////////
			Align
		//////////////////////
		*/
			/* 
				Center
			==============	
			*/
				.text-center{
					text-align: center;
				}
			/*
				Left
			================
			*/
				.text-left{
					text-align: left;
				}
			/*
				Right
			================
			*/
				.text-right{
					text-align: right;
				}
		/*
		//////////////////////
			//Align
		//////////////////////
		*/

		/*
		//////////////////////
			Transform
		//////////////////////
		*/
			/*
				Uppercase
			================
			*/
				.text-up{
					text-transform: uppercase;
				}
			/*
				Lowercase
			================
			*/
				.text-low{
					text-transform: lowercase;
				}
		/*
		//////////////////////
			//Transform
		//////////////////////
		*/

		/*
		/////////////////////
			Title
		////////////////////
		*/
			.title{
				font-weight: bold;
			}
		/*
		/////////////////////
			//Title
		////////////////////
		*/
	/*
	///////////////////////////
		//Helpers
	///////////////////////////
	*/


/*
//////////////////////////////////
	//Typography
//////////////////////////////////
*/

