/*
===========================
	Box
===========================
*/
/*
	=======================
		Sizes
	=======================
	*/
.box {
  padding: 10px 20px;
}
.box-min {
  padding: 10px;
}
.box-max {
  padding: 20px;
}
/*
			Values equals
		====================
		*/
.box,
.box-min,
.box-max {
  box-sizing: border-box;
}
/*
	=======================
		Sizes
	=======================
	*/
/*
===========================
	//Box
===========================
*/

/*
////////////////////////////////////
	Button
///////////////////////////////////
*/
/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
/*
			Colors
		======================
		*/
/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/
/*
	///////////////////////////
		Default
	///////////////////////////
	*/
.btn {
  cursor: pointer;
  border: 1px solid transparent;
  padding: 15px 15px;
}
/*
	///////////////////////////
		//Default
	///////////////////////////
	*/
/*
	///////////////////////////
		Sizes
	///////////////////////////
	*/
/*
			Default
		====================
		*/
.btn {
  font-size: 100%;
}
/*
			Small
		====================
		*/
.btn-sm {
  font-size: 70%;
}
/*
			Medium
		====================
		*/
.btn-md {
  font-size: 110%;
}
/*
			Large
		====================
		*/
.btn-lg {
  font-size: 130%;
}
/*
	///////////////////////////
		//Sizes
	///////////////////////////
	*/
/*
		Mediun
	======================
	*/
/*
		Large
	======================
	*/
/*
==================================
	//Sizes
==================================
*/
/*
==================================
	Type
==================================
*/
/*
		Block
	===================
	*/
.btn-block {
  display: block;
  text-align: center;
  width: 100%;
}
/*
==================================
	Type
==================================
*/
/*
		Primary
	========================
	*/
.btn-primary {
  background-color: #da4f48;
  color: #cccccc;
}
/*
////////////////////////////////////
	//Button
////////////////////////////////////
*/

/*
////////////////////////////
	Grids
////////////////////////////
*/
/*
	////////////////////////////
		Standard
	////////////////////////////
	*/
/*
			Wrapper
		=================
		*/
.wrapper {
  width: 100%;
  max-width: 1280px;
}
/*
			Row
		=================
		*/
.row {
  width: 100%;
}
/*
	////////////////////////////
		//Standard
	////////////////////////////
	*/
/*
	////////////////////////////
		Attr Values
	////////////////////////////
	*/
/*
			Sizes
		====================
		*/
.grid-1 {
  width: 8.33%;
}
.grid-2 {
  width: 16.66%;
}
.grid-3 {
  width: 24.99%;
}
.grid-4 {
  width: 33.32%;
}
.grid-5 {
  width: 41.65%;
}
.grid-6 {
  width: 49.98%;
}
.grid-7 {
  width: 58.31%;
}
.grid-8 {
  width: 66.64%;
}
.grid-9 {
  width: 74.97%;
}
.grid-10 {
  width: 83.3%;
}
.grid-11 {
  width: 91.63%;
}
.grid-12 {
  width: 99.96%;
}
/*
	////////////////////////////
		//Sizes
	////////////////////////////
	*/
/*
	////////////////////////////
		Spacing
	////////////////////////////
	*/
/*
			Any side
		================
		*/
.offset-as {
  margin: 0 0.55%;
}
/*
			Left
		==============
		*/
.offset-l {
  margin-left: 1.1%;
}
/*
			Right
		==============
		*/
.offset-r {
  margin-right: 1.1%;
}
/*
	////////////////////////////
		//Spacing
	////////////////////////////
	*/
/*
////////////////////////////
	//Grids
////////////////////////////
*/

/*
////////////////////////////
	Helpers
////////////////////////////
*/
/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
/*
			Colors
		======================
		*/
/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/
/*
	///////////////////////////
		Position
	///////////////////////////
	*/
/*
			Left
		======================
		*/
.left {
  float: left;
}
/*
			Right
		======================
		*/
.right {
  float: right;
}
/*
			Center
		======================
		*/
.center {
  margin: 0 auto;
}
/*
	///////////////////////////
		//Position
	///////////////////////////
	*/
/*
////////////////////////////
	//Helpers
////////////////////////////
*/

/*
===============================
	Icons
===============================
*/
/*
=========================
	Types
=========================
*/
/*
	=====================
		Header
	=====================
	*/
/*
			Menu
		================
		*/
.icon-menu {
  background-image: url(../images/icons/menu-icon.png);
  background-repeat: no-repeat;
}
/*
			Search
		================
		*/
.icon-search {
  background-image: url(../images/icons/search-icon.png);
  background-repeat: no-repeat;
}
/*
			Close
		================
		*/
.icon-close {
  background-image: url(../images/icons/close-icon.png);
  background-repeat: no-repeat;
}
.icon-close-white {
  background-image: url(../images/icons/close-white-icon.png);
  background-repeat: no-repeat;
}
/*
	=====================
		//Header
	=====================
	*/
/*
	=====================
		Single
	=====================
	*/
/*
			Facebook
		=====================
		*/
.icon-fb-sm {
  background-image: url(../images/icons/fb-white.png);
  background-repeat: no-repeat;
}
/*
			Twitter
		=====================
		*/
.icon-twitter {
  background-image: url(../images/icons/twitter-white.png);
  background-repeat: no-repeat;
}
/*
			Whatsapp
		=====================
		*/
.icon-whatsapp {
  background-image: url(../images/icons/whatsapp.png);
  background-repeat: no-repeat;
}
/*
	=====================
		//Singles
	=====================
	*/
/*
	=====================
		Footer
	=====================
	*/
/*
			Mail
		=================
		*/
.icon-mail {
  background-image: url(../images/icons/mail.png);
  background-repeat: no-repeat;
}
/*
			Laptop
		=================
		*/
.icon-laptop {
  background-image: url(../images/icons/laptop.png);
  background-repeat: no-repeat;
}
/*
			Face
		=================
		*/
.icon-face {
  background-image: url(../images/icons/face.png);
  background-repeat: no-repeat;
}
/*
	=====================
		//Footer
	=====================
	*/
/*
=========================
	//Types
=========================
*/

/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
/*
			Colors
		======================
		*/
/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/

/*
///////////////////////////////////
	Raro! Boilerplate CSS		
//////////////////////////////////
*/
/*
		All yours styles insert here
	===================================
	*/

/*
//////////////////////////////////
	Typography
//////////////////////////////////
*/
/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
/*
			Colors
		======================
		*/
/*
			Font
		======================
		*/
/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/
/*
	///////////////////////////
		Settings
	///////////////////////////
	*/
/*
			Standard
		==================
		*/
body {
  font-family: Arial, sans-serif;
  font-size: 16px;
}
/*
	///////////////////////////
		//Settings
	///////////////////////////
	*/
/*
	///////////////////////////
		Helpers
	///////////////////////////
	*/
/*
		//////////////////////
			Align
		//////////////////////
		*/
/* 
				Center
			==============	
			*/
.text-center {
  text-align: center;
}
/*
				Left
			================
			*/
.text-left {
  text-align: left;
}
/*
				Right
			================
			*/
.text-right {
  text-align: right;
}
/*
		//////////////////////
			//Align
		//////////////////////
		*/
/*
		//////////////////////
			Transform
		//////////////////////
		*/
/*
				Uppercase
			================
			*/
.text-up {
  text-transform: uppercase;
}
/*
				Lowercase
			================
			*/
.text-low {
  text-transform: lowercase;
}
/*
		//////////////////////
			//Transform
		//////////////////////
		*/
/*
		/////////////////////
			Title
		////////////////////
		*/
.title {
  font-weight: bold;
}
/*
		/////////////////////
			//Title
		////////////////////
		*/
/*
	///////////////////////////
		//Helpers
	///////////////////////////
	*/
/*
//////////////////////////////////
	//Typography
//////////////////////////////////
*/

/*! normalize.css v1.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}
/*
 * Corrects `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/*
 * Addresses styling for `hidden` attribute not present in IE 7/8/9, Firefox 3,
 * and Safari 4.
 * Known issue: no IE 6 support.
 */
[hidden] {
  display: none;
}
/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *    `em` units.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-size: 100%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}
/*
 * Addresses `font-family` inconsistency between `textarea` and other form
 * elements.
 */
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}
/*
 * Addresses margins handled incorrectly in IE 6/7.
 */
body {
  margin: 0;
}
/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted;
}
/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0;
}
/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE 6/7.
 * Addresses font sizes within `section` and `article` in Firefox 4+, Safari 5,
 * and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
h2 {
  font-size: 1.5em;
  margin: 0.83em 0;
}
h3 {
  font-size: 1.17em;
  margin: 1em 0;
}
h4 {
  font-size: 1em;
  margin: 1.33em 0;
}
h5 {
  font-size: 0.83em;
  margin: 1.67em 0;
}
h6 {
  font-size: 0.75em;
  margin: 2.33em 0;
}
/*
 * Addresses styling not present in IE 7/8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}
/*
 * Addresses style set to `bolder` in Firefox 3+, Safari 4/5, and Chrome.
 */
b,
strong {
  font-weight: bold;
}
blockquote {
  margin: 1em 40px;
}
/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic;
}
/*
 * Addresses styling not present in IE 6/7/8/9.
 */
mark {
  background: #ff0;
  color: #000;
}
/*
 * Addresses margins set differently in IE 6/7.
 */
p,
pre {
  margin: 1em 0;
}
/*
 * Corrects font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}
/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}
/*
 * Addresses CSS quotes not supported in IE 6/7.
 */
q {
  quotes: none;
}
/*
 * Addresses `quotes` property not supported in Safari 4.
 */
q:before,
q:after {
  content: '';
  content: none;
}
/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}
/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sup {
  top: -0.5em;
}
sub {
  bottom: -0.25em;
}
/* ==========================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE 6/7.
 */
dl,
menu,
ol,
ul {
  margin: 1em 0;
}
dd {
  margin: 0 0 0 40px;
}
/*
 * Addresses paddings set differently in IE 6/7.
 */
menu,
ol,
ul {
  padding: 0 0 0 40px;
}
/*
 * Corrects list images handled incorrectly in IE 7.
 */
nav ul,
nav ol {
  list-style: none;
  list-style-image: none;
}
/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside `a` element in IE 6/7/8/9 and Firefox 3.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}
/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden;
}
/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 6/7/8/9, Safari 5, and Opera 11.
 */
figure {
  margin: 0;
}
/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE 6/7.
 */
form {
  margin: 0;
}
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/*
 * 1. Corrects color not being inherited in IE 6/7/8/9.
 * 2. Corrects text not wrapping in Firefox 3.
 * 3. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}
/*
 * 1. Corrects font size not being inherited in all browsers.
 * 2. Addresses margins set differently in IE 6/7, Firefox 3+, Safari 5,
 *    and Chrome.
 * 3. Improves appearance and consistency in all browsers.
 */
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}
/*
 * Addresses Firefox 3+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button,
input {
  line-height: normal;
}
/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
  *overflow: visible;
  /* 4 */
}
/*
 * Re-set default cursor for disabled elements.
 */
button[disabled],
input[disabled] {
  cursor: default;
}
/*
 * 1. Addresses box sizing set to content-box in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 * 3. Removes excess padding in IE 7.
 *    Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}
/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}
/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/*
 * Removes inner padding and border in Firefox 3+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}
/*
 * 1. Removes default vertical scrollbar in IE 6/7/8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}
/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 
 *  Owl Carousel - Animate Plugin
 */
.owl-carousel .animated {
  -webkit-animation-duration: 1000ms;
  animation-duration: 1000ms;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
/* 
 * 	Owl Carousel - Auto Height Plugin
 */
.owl-height {
  -webkit-transition: height 500ms ease-in-out;
  -moz-transition: height 500ms ease-in-out;
  -ms-transition: height 500ms ease-in-out;
  -o-transition: height 500ms ease-in-out;
  transition: height 500ms ease-in-out;
}
/* 
 *  Core Owl Carousel CSS File
 */
.owl-carousel {
  display: none;
  width: 100%;
  padding: 0;
  -webkit-tap-highlight-color: transparent;
  /* position relative and z-index fix webkit rendering fonts issue */
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  overflow: hidden;
  /* fix for flashing background */
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next,
.owl-carousel .owl-controls .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-controls .owl-nav .owl-prev,
.owl-carousel .owl-controls .owl-nav .owl-next {
  background-color: #f4f4f4;
  color: #ccc;
  float: left;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px 10px 5px 0px;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel .owl-refresh .owl-item {
  display: none;
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
  -webkit-transform-style: preserve-3d;
}
.owl-carousel.owl-text-select-on .owl-item {
  -webkit-user-select: auto;
  -moz-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
}
.owl-carousel .owl-grab {
  cursor: move;
  cursor: -webkit-grab;
  cursor: -o-grab;
  cursor: -ms-grab;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
}
/* No Js */
.no-js .owl-carousel {
  display: block;
}
/* 
 * 	Owl Carousel - Lazy Load Plugin
 */
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img {
  transform-style: preserve-3d;
}
/* 
 * 	Owl Carousel - Video Plugin
 */
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  -webkit-transition: scale 100ms ease;
  -moz-transition: scale 100ms ease;
  -ms-transition: scale 100ms ease;
  -o-transition: scale 100ms ease;
  transition: scale 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -webkit-transition: scale(1.3, 1.3);
  -moz-transition: scale(1.3, 1.3);
  -ms-transition: scale(1.3, 1.3);
  -o-transition: scale(1.3, 1.3);
  transition: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  -webkit-transition: opacity 400ms ease;
  -moz-transition: opacity 400ms ease;
  -ms-transition: opacity 400ms ease;
  -o-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
}
/*-- Raro Edit --*/
.owl-carousel li {
  list-style-type: none;
}
