/* topo */
header {
    background-color: #f4faff;
    border-bottom: 1px solid #5b7793;
}
.header-list{ background-color: #f4faff; }
.header-list nav ul li a:hover {
    color: #57b6e1;
    text-decoration: none;
}
.header-list nav ul button {
    border: 0;
    padding: 9px 10px;
    border-radius: 13px;
    background-color: #f05862;
    color: #fff;
    border-bottom: 2px solid #bd464e;
    border-right: 2px solid #bd464e;
    font-family: 'latoregular';
    padding-top: 12px;
}
.botao{ box-shadow: none;  }

/* rodape */
.box-sitemap ul li a:hover{
	font-weight: 700;
    font-family: 'latoregular';
}
.box-sitemap.infoContato {	font-weight: 700;}
.box-sitemap .infoContato:hover{ font-family: 'latoregular'; }
.box-sitemap ul li form img {
    display: inline;
    margin-left: -52px;
    margin-top: 3px;
}
.box-sitemap ul li form img:hover {
	opacity: 0.8;
}
.box-sitemap ul li form input {
    width: 98%;
}
.box-sitemap ul li form img {
	cursor: pointer;
}
.slick-dotted.slick-slider {
    margin-bottom: 0px;
}
.slick-dots {
    position: absolute;
    bottom: 125px;
}
.slick-dots li button:before {
    font-size: 25px;
    color: #f05862;
}
.slick-dots li.slick-active button:before {
    opacity: .75;
    color: #f05862;
}
.slick-prev {
    left: 35px;
    z-index: 999999;
}
.slick-next {
    right: 70px;
    z-index: 999999;
}

.slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 50px;
    color: #f27b7a;
}
/* index */
.botao-conheca,
.botao-saibamais {
    border-bottom: 3px solid #4d92b1;
    border-right: 3px solid #4d92b1;
    font-size: 16px;
    font-family: latoregular;
    text-decoration: none;
}
.visite-nossa-lojinha a {
    display: block;
    margin-top: 30px;
    width: 195px;
    text-decoration: none;
    border: 0;
    padding: 9px 10px;
    border-radius: 13px;
    background-color: #f05862;
    color: #fff;
    border-bottom: 3px solid #bd464e;
    border-right: 3px solid #bd464e;
    font-family: 'latoregular';
    padding-top: 12px;
}
.separador-frutas {
    margin: 60px 0 40px 0;
}
.fotofundo.fotovisite1 {
    top: 8%;
    background-image: url('../images/fruta-fundo-visite-1.png');
    height: 484px;
    width: 267px;
    position: absolute;
    right: 0;
    left: initial;
}
.fotofundo.fotovisite2 {
    top: 8%;
    background-image: url('../images/fruta-fundo-visite-2.png');
    height: 426px;
    width: 305px;
    left: 0;
}
.colunaform input {
    width: 98%;
}
.bannerTopo {
    background-position: center;
}
.box-video-home {
    padding-left: 45px;
    margin-left: 0;
}
.video-home {
    width: 100%;
    height: 333px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 85%;
}

/* quem somos */
.quem-somos span {
    color: #787878;
    line-height: 23px;
}
.quem-somos .titulo {
    margin: 20px 0;
}
#quem-somos #tituloSobreNos { text-align: center; }
#banner-quemsomos{ position: relative; top:75px; }
#tituloSobreNos{margin-top: 75px;}
    .pessoaDiv{ text-align: center; }
    #quem-somos div.pessoaDiv div.imagemPessoa { display: inline-block; }
#quem-somos h1 { color:#f05862; font-family: 'latoregular'; line-height: 40px; }
#quem-somos p { color:#787878; font-family: 'latoregular'; line-height: 20px; line-height: 25px; font-size: 16px; }
#quem-somos div.pessoaDiv div.imagemPessoa { border-radius: 50%; width: 220px; height: 220px; overflow: hidden;  }
#quem-somos div.pessoaDiv div.imagemPessoa img { width: 100%; height: 100%; transition-duration: 0.3s; }
#quem-somos div.pessoaDiv div.imagemPessoa img:hover { height: 105%; width: 105%; transition-duration: 0.3s; }
.bloco1{ margin: 3% 0 10% 0; }
.bloco2{ margin: 3% 0; }
#quem-somos  h3 { color:#f05862; font-family: 'latoregular'; line-height: 35px; font-size:20px; margin: 0;  }
#quem-somos .infoPessoa { text-align: left; position: absolute; bottom: -35px; }
#quem-somos .infoPessoa  { text-align: left; position: absolute; bottom: -35px; }
#quem-somos span { color:#444444; font-family: 'latoregular'; font-size:18px; margin: 0; }
#quem-somos #conteudoSecundario { margin:20% 0; }
#quem-somos #backgroundEsquerda { 
	background-image: url('../images/quem-somos-nuvem-esquerda.png'); 
	background-size: 100%; 
	width: 265px;
	height: 1047px;
	position: absolute;
	top: 60%; 
}
#quem-somos #backgroundDireita  { 
	background-image: url('../images/quem-somos-nuvem-direita.png'); 
	background-size: 100%; 
	width: 240px;
	height: 798px;
	position: absolute;
	top: 53%; 
	right: 0;
}
#quem-somos #backgroundInferior { background-image: url('../images/quem-somos-fundo-valores.png');  background-size: 100%; }

#quem-somos #rowValores { height: 481px; }
#quem-somos #blocoValores {
	background-image: url('../images/quem-somos-fundo-valores.png'); 
	background-size: 100%;
		background-repeat: no-repeat;
    height: 481px;
	width: 100%;
	position: absolute;
    top: -160px;
}

#quem-somos ul.listaValores{
	list-style: none;
}

#quem-somos ul.listaValores li,
#quem-somos ul.listaValores li div{
	height: 180px;
	width: 285px;
	-moz-border-radius:7px;
	-webkit-border-radius:7px;
	 border-radius:7px;
}
#quem-somos ul.listaValores li{
	float:left;
	 -webkit-transform: rotate(2deg);
		 -moz-transform: rotate(2deg);
		 -o-transform: rotate(2deg);
		 -ms-transform: rotate(2deg);
		 transform: rotate(2deg);
}
#quem-somos ul.listaValores li.li1{ background-color: #a1e6df; margin: 100px 75px 0 0px; }
#quem-somos ul.listaValores li.li2{ background-color: #f69ba1; margin: 100px 75px 0 0px; }
#quem-somos ul.listaValores li.li3{ background-color: #9ad3ed; margin: 100px 0 0 0px; }

#quem-somos ul.listaValores li div{
		-webkit-transform: rotate(-2deg);
		-moz-transform: rotate(-2deg);
		-o-transform: rotate(-2deg);
		-ms-transform: rotate(-2deg);
		transform: rotate(-2deg);
		position: absolute;
		text-align: center;
		padding: 0 15px;
		transition-duration: 0.3s;
}
#quem-somos ul.listaValores li div img{
	margin: 20px 0 0 0;
}
#quem-somos ul.listaValores li div:hover{
	width: 295px;	
	height: 190px;	
	transition-duration: 0.3s;
    margin: -5px 0 0 -5px;
}

#quem-somos ul.listaValores li div h4{ color:#FFF; font-size: 16px; font-family: "latoregular"; margin: 5px 0 -5px 0; text-transform: uppercase; }
#quem-somos ul.listaValores li div p{ color:#FFF; font-size: 16px; line-height: 20px; }
#quem-somos ul.listaValores li.li1 div.div1{ background-color: #62d5c9; }
#quem-somos ul.listaValores li.li2 div.div2{ background-color: #f05862; }
#quem-somos ul.listaValores li.li3 div.div3{ background-color: #57b6e1; }
.quem-somos a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    padding: 12px 22px;
    width: 136px;
    border-bottom: 3px solid #4d92b1;
    border-right: 4px solid #4d92b1;
}


@media only screen and (min-width: 1410px) and (max-width: 1620px) 
{
	#quem-somos ul.listaValores li.li1 { margin: 25px 55px 0 0px; }
	#quem-somos ul.listaValores li.li2 { margin: 25px 55px 0 0px; }
	#quem-somos ul.listaValores li.li3 { margin: 25px 55px 0 0px; }
	#quem-somos #rowValores {
	    height: 340px;
	}
}
@media only screen and (min-width: 1024px) and (max-width: 1440px) 
{
	#quem-somos ul.listaValores li.li1 { margin: 5px 25px 0 0px; }
	#quem-somos ul.listaValores li.li2 { margin: 5px 25px 0 0px; }
	#quem-somos ul.listaValores li.li3 { margin: 5px 25px 0 0px; }
	#quem-somos #rowValores {
	    height: 295px;
	}
}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
	#quem-somos ul.listaValores { padding: 0; }
	#quem-somos ul.listaValores li.li1,
	#quem-somos ul.listaValores li.li1 div.div1,
	#quem-somos ul.listaValores li.li2,
	#quem-somos ul.listaValores li.li2 div.div2,
	#quem-somos ul.listaValores li.li3, 
	#quem-somos ul.listaValores li.li3 div.div3 {
	   width: 100%;
	}

	#quem-somos ul.listaValores li{
		-webkit-transform: rotate(1deg);
   		-moz-transform: rotate(1deg);
   		-o-transform: rotate(1deg);
   		-ms-transform: rotate(1deg);
   		transform: rotate(1deg);
   		margin: 10px 0 !important;
	}
	#quem-somos ul.listaValores li div{
 		-webkit-transform: rotate(-1deg);
   		-moz-transform: rotate(-1deg);
   		-o-transform: rotate(-1deg);
   		-ms-transform: rotate(-1deg);
   		transform: rotate(-1deg);

	}
	#quem-somos #blocoValores {
	    top: -150px;
	}
	#quem-somos #rowValores {
	    height: 650px;
	}
	#quem-somos div.pessoaDiv div.infoPessoa,
	#quem-somos div.pessoaDiv div.imagemPessoa {

	    position: relative;
	    top: 0px;
	}
}
@media only screen and (min-width: 425px) and (max-width: 768px)  {
	#quem-somos div.pessoaDiv div.imagemPessoa {
	    position: relative;
	}
}
@media only screen and (max-width: 768px)  {
	#quem-somos ul.listaValores { padding: 0; }
	#quem-somos ul.listaValores li.li1,
	#quem-somos ul.listaValores li.li1 div.div1,
	#quem-somos ul.listaValores li.li2,
	#quem-somos ul.listaValores li.li2 div.div2,
	#quem-somos ul.listaValores li.li3, 
	#quem-somos ul.listaValores li.li3 div.div3 {
	   width: 100%;
	}

	#quem-somos ul.listaValores li{
		-webkit-transform: rotate(1deg);
   		-moz-transform: rotate(1deg);
   		-o-transform: rotate(1deg);
   		-ms-transform: rotate(1deg);
   		transform: rotate(1deg);
   		margin: 10px 0 !important;
	}
	#quem-somos ul.listaValores li div{
 		-webkit-transform: rotate(-1deg);
   		-moz-transform: rotate(-1deg);
   		-o-transform: rotate(-1deg);
   		-ms-transform: rotate(-1deg);
   		transform: rotate(-1deg);

	}
	#quem-somos #blocoValores {
	    top: -150px;
	}
	#quem-somos #rowValores {
	    height: 650px;
	}
}

@media only screen and (max-width: 992px) {
	#quem-somos #blocoValores { display: none; }
	#quem-somos #conteudoSecundario {
	    margin: 0;
	}

}

/* dicas nutri */
#dicas-nutri #tituloDicasNutri { text-align: center; }
#banner-dicasnutri{ position: relative; top:75px; }
#tituloDicasNutri { margin-top: 75px; }

#post-single { margin-top: 95px; }
#dicas-nutri #tituloDicasNutri div { backgroud: url(http://projetos.wdezoito.com.br:82/pura-papinha/wp-content/themes/wdezoitotheme/images/dicas-nutri-titulo.png); }
#dicas-nutri .boxPost { border: 1px solid #ccc; margin: 30px 0 50px; height: 371px;  position: relative; }
#dicas-nutri .boxPost .box1 { width: 480px; float:left; }
#dicas-nutri .boxPost .box2 {     width: 56%; float: left; padding: 30px; min-height: 320px; }
#dicas-nutri .listaPost-imagePost { 
    max-width: 100%;
    max-height: 370px;
    border-right: 1px solid #ccc;
    padding: 25px;
}
#dicas-nutri .infoTexto{
	color: #787878;
	font-size: 14px;
}
#dicas-nutri .postTitulo{
	color: #f05862;
	font-weight: 700;
	font-size: 26px;
	text-transform: uppercase;
}
#dicas-nutri .PostText{
	color: #787878;
	font-weight: 400;
    line-height: 25px;
}
#dicas-nutri .rowTextoDicasNutri { padding: 25px; }
#dicas-nutri .imagemPostDicasNutri{
    width: 100%;
    border: 1px solid #ccc;
    height: 370px;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
}

#dicas-nutri .btnLeiaMais {
    background-color: #56b6e1;
    padding: 12px 50px;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid #4d92b1;
    border-right: 4px solid #4d92b1;
    border-radius: 8px;
    position: absolute;
    bottom: 12px;
    left: calc(50% + 25px);
}
#dicas-nutri .btnLeiaMais:hover { background-color: #72c6ed; }
#dicas-nutri .paginacao { margin: 40px 0; }
#dicas-nutri a.page-numbers { color: #787878; font-size: 18px; text-decoration: none; margin: 20px; }
#dicas-nutri span.page-numbers.current { color: #62d5c9; text-decoration: underline; }
#dicas-nutri .paginacao { padding: 0 0 25px 0; }
#dicas-nutri .paginacao .numeros { float: left; }
#dicas-nutri .paginacao .pageTotal { float: right; color:#787878; }

/* single post - dicas nutri */
#singlePost{ background-color: #f7f7f7; }
#singlePost #post-single .container { background-color: #FFFFFF; position: relative; border: 1px solid #ccc; margin-top: 50px; padding: 50px; }
#singlePost #post-single .tituloPost { color: #f05862; font-size: 26px; font-weight: 700; text-transform: uppercase; }
#singlePost #post-single .barraPost { border: 0; border-bottom: 1px solid #CCCCCC; }
#singlePost #post-single .infoTexto { color: #787878; font-size: 14px; }
#singlePost #post-single .imagePost { text-align: center; }
#singlePost #post-single .imagePost img { max-width: 100%; max-height: 360px; text-align: center; }
#singlePost #post-single .PostText { color: #787878; line-height: 30px; }

#singlePost{ background-color: #f7f7f7; }
#singlePost #comentarios-single .container { background-color: #FFFFFF; border: 1px solid #ccc; margin-top: 50px; padding: 50px; }
#singlePost #comentarios-single h4 { margin: 0; color:#62d5c9; font-size: 22px; font-family: "latoregular"; font-weight: 700; }
#singlePost input { border: 1px solid #d9d9d9; border-radius: 8px; height: 45px; padding: 0 20px; }
#singlePost textarea { border: 1px solid #d9d9d9; border-radius: 8px; height: 83px; padding: 20px; margin-top: 20px; display: inline-block; }
#singlePost input#author { width: calc(50% - 10px); float: left; margin-right: 10px; }
#singlePost input#email { width: 50%; float:right; }
#singlePost input#url { display: none; }
#singlePost input::-webkit-input-placeholder { color:#bfbfbf; }
#singlePost input::-moz-placeholder { color:#bfbfbf; }
#singlePost input:-ms-input-placeholder { color:#bfbfbf; }
#singlePost input:-moz-placeholder { color:#bfbfbf; }
#singlePost .comment-notes { display: none; }
#singlePost #reply-title { display: none; }

#singlePost input[type=submit] { 
    margin-top: 30px;
    text-decoration: none;
    padding: 12px 22px;
    width: 136px;
    border-bottom: 3px solid #4d92b1;
    border-right: 4px solid #4d92b1;
    background-color: #56b6e1;
    color:#FFF;
    float:right;
    border-radius: 8px;
    font-weight: 700;
}
#singlePost input[type=submit]:hover { 
    background-color: #72c6ed;
}
#comentarios-single hr{     
	display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 30px 0;
    padding: 0; 
}
#comentarios-single .infoauthor{
	margin: 20px 0 10px 0;
}
#comentarios-single .comment_author{
	color:#f05862;
	font-size: 14px;
	text-transform: uppercase;
}
#comentarios-single .comment_date{
	color:#cccccc;
	font-size: 14px;
}
#comentarios-single .comment_content{
	color: #787878;
	font-size: 14px;
}
section#comentarios-single {
    margin: 50px 0;
}
#singlePost .social{
    text-align: center;
}
.addtoany_list.a2a_kit_size_32 a > span {
    border-radius: 50% !important;
    display: inline-block;
    line-height: 32px;
    opacity: 1;
    padding: 10px;
    width: 50px !important;
    height: 50px !important;
}
#singlePost .social {
    position: absolute;
    bottom: -28px;
    text-align: center;
    width: 100%;
    left: 0;
}

/* DUVIDAS */
#duvidas .container{ margin-top: 50px; }
#duvidas #tituloDuvidas { text-align: center; margin: 75px 0 40px 0; }
#duvidas #lista-duvidas { padding: 0 15px; }
#duvidas #lista-duvidas input[type="text"] { padding: 0 10px; height:45px; width: 100%; border: 1px solid #d9d9d9; border-radius: 7px; background-color: #f7f7f7; }
#duvidas #lista-duvidas .button-search i { color: #57b6e2; }
#duvidas #form-search { position: relative; }
#duvidas #form-search span.btn.button-search { position: absolute; right: 0; top: 2px; }
#duvidas #lista-duvidas ul { list-style: none; padding: 0; margin: 0 0 70px 0; min-height: 420px; }
#duvidas #lista-duvidas ul li { border-top: 1px solid #57b6e1; position: relative; margin: 30px 0; }
#duvidas #lista-duvidas ul li .numero   { background-color: #57b6e1; color:#FFF; padding: 10px; position: absolute; top:0; margin: 0 8px; }
#duvidas #lista-duvidas ul li .pergunta { color: #57b6e1; font-size: 22px; margin: 10px 50px; text-transform: uppercase; }
#duvidas #lista-duvidas ul li .pergunta p{ margin:0; }
#duvidas #lista-duvidas ul li .resposta { color: #787878; font-size: 16px; line-height: 25px; }
#duvidas #lista-duvidas ul li.error { padding: 20px; font-size: 16px; }
#duvidas #sidebar { padding: 15px; background-color: #6c8cad; }
#duvidas #sidebar h3 { font-family: "latoregular"; font-size:24px; text-transform: uppercase; font-weight: 400; line-height: 30px; color:#FFF; text-align: left; }
#duvidas #sidebar input,
#duvidas #sidebar textarea { border: 1px solid #d9d9d9; border-radius: 7px; margin: 15px 0; height: 44px; padding: 10px; color:#bfbfbf; }
#duvidas #sidebar textarea { height: 130px; }
#duvidas #sidebar input::-webkit-input-placeholder { color:#bfbfbf; }
#duvidas #sidebar input::-moz-placeholder { color:#bfbfbf; }
#duvidas #sidebar input:-ms-input-placeholder { color:#bfbfbf; }
#duvidas #sidebar input:-moz-placeholder { color:#bfbfbf; }
#duvidas #sidebar input[type="submit"] { background-color: #62d5c9; color: #FFF; font-family: "latoregular"; text-transform: uppercase; font-size: 18px; font-weight: 700; border: 0; border-bottom: 3px solid #4ba39a; border-right: 3px solid #4ba39a; }
#duvidas #sidebar input[type="submit"]:hover { background-color: #5fbeb4; }

/* CONTATO INDEX */
#contato { z-index: 7; position: relative; display: block; background-color: #ebf9ff; padding-bottom: 100px; }
#contato .divisor { width: 100%; height: 120px; top: -70px; position: relative; }
#contato .divisor .divisor-rosa { position: absolute; top: 0; }
.formContato {
   padding: 30px;
}
.colunaform{margin: 0;}
.colunaform input {
    width: 100%;
}
.campoInfo {
    padding: 5px;
    float: left;
}


/* ONDE ENCONTRAR */
#onde-encontrar .linhaOndeEncontrar{ border-top: 1px solid #cccccc; }
#onde-encontrar .fa{ margin-right: 5px; color: #57b6e1; }
#onde-encontrar #tituloOndeEncontrar { text-align: center; margin-top: 75px; }
#onde-encontrar h2,
#onde-encontrar h3 { color: #57b6e1; font-family: "latoregular"; }
#onde-encontrar h2 { font-size: 22px; text-transform: uppercase; font-weight: 700; }
#onde-encontrar h3 { font-size: 16px; font-weight: 400; }
#onde-encontrar .textInfo { color: #787878; font-size: 16px; }
#onde-encontrar span { color: #787878; font-size: 16px; }
#onde-encontrar p { color: #787878; font-size: 16px; line-height: 22px; }
#onde-encontrar .info { padding: 30px 0 40px 0; }
#onde-encontrar .infoHorario { margin-top:75px; }
#onde-encontrar .infoMapa {  }

#onde-encontrar input[type="text"] { margin:30px 0; padding: 0 10px; height:45px; width: 100%; border: 1px solid #d9d9d9; border-radius: 7px; background-color: #f7f7f7; }
#onde-encontrar .button-search i { color: #57b6e2; }
#onde-encontrar #form-search { position: relative; width: 70% }
#onde-encontrar #form-search span.btn.button-search { position: absolute; right: 0; top: 2px; }
#onde-encontrar .btnCompreAqui{ margin: 20px 0; border: 0; padding: 12px 20px; border-radius: 13px; background-color: #f05862; color: #fff; border-bottom: 2px solid #bd464e; border-right: 2px solid #bd464e; font-family: 'latoregular'; padding-top: 12px;  text-decoration: none; }
#onde-encontrar .btnCompreAqui:hover{ background-color: #fc7780; }
#onde-encontrar .map{ margin-top: 75px; }
#onde-encontrar .infoMapa i{ color: #f05862; }
#onde-encontrar .tipoLoja { color: #f05862; margin: 10px 0; }

/* hack hidden col - champs */
@media only screen and (min-width: 1200px){ .hidden-lg { display: none !important; } }
@media only screen and (max-width: 992px) and (min-width: 768px){ .hidden-sm { display: none !important; } }
@media only screen and (max-width: 767px) { .hidden-xs { display: none !important; } }

button.navbar-toggle.collapsed{
    background: none;
    border: none;
}
span.icon-bar {
    background-color: #f05862;
    display: block;
    width: 21px;
    height: 4px;
    border-radius: 1px;
    margin: 3px;
}


.menuMobile{ display: none; }
.menuDesktop{ display: block; }
.menuListMobile {display: none;}
header {  position: fixed; background-color: #f4faff; z-index: 9; margin-bottom: 72px; border-bottom: 1px solid #5b7793; width: 100%; }


    .col-xs-1,
    .col-xs-2,
    .col-xs-3,
    .col-xs-4,
    .col-xs-5,
    .col-xs-6,
    .col-xs-7,
    .col-xs-8,
    .col-xs-9,
    .col-xs-10,
    .col-xs-11
     {
        float: left;
    }


/* TABLET */
@media only screen and (min-width: 992px) and (max-width: 1024px) {
    /* TOPO | MENU | RODAPE */
    .header-list nav ul li {
        margin-right: 30px;
        display: inline;
        list-style-type: none;
    }
    .mapa-contato {
        margin-top: 0px;
    }

    /* INDEX */ 
        /* QUEM SOMOS */
        .quem-somos { padding: 0 20px; }
        .box-video-home { padding-left: 0; }
        .video-home { height: 440px; margin-top: 25px; }

        /* NOSSAS PAPINHAS */
        .pageNossasPapinhas{ padding: 0 20px; }
        .pageNossaLojinha{ padding: 0 20px; }

        /* NOSSA LOJINHA */
        .box-nuvem-fotos img { display: none;  }
        .box-nuvem-fotos img{width: 100%; display: inline-block; }

        /* PAGE CONTATO */
        .pageContato{ padding: 0 20px; }
        .pageContato input { width: 100%; }
        .pageContato .fotocontato2 { display: none; }
        .pageContato .colunaform { margin: 5px 0; }
        .pageContato .box-mapa-contato { margin: 15px 0; }
        .pageContato .contato,
        .pageContato .mapa-contato{ padding: 0 20px; }
        .pageContato .colunaform { padding: 0 5px; } 



    .banner.bannerTopo.slick-slide { max-height: 415px; }
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
    /* TOPO | MENU | RODAPE */
    .menuMobile{ display: inline-block; width: 100%; float: left; }
    .menuMobile .col-xs-6,
    .menuMobile .col-xs-5,
    .menuMobile .col-xs-1 { float: left; }
    .menuDesktop{ display: none; }
    .navbar-header{margin-top: 12px;}
    .logoMobile{ float: left; }
    .header-list { padding: 5px 0 5px; }
    .botao-carrinho { float: right; margin: 8px 15px;  }
    .menuMobile ul{ list-style: none; }
    .menuMobile ul li{ text-align: left; }
    .menuMobile ul li a{ color:#f05862; font-family: "latoregular"; line-height: 30px; text-decoration: none; }
    .menuMobile ul li a:hover{ font-weight: 700; }
    .divRodapeLogo{ text-align: center; }
    .pageRodape{ padding: 0 20px; }
    .banner.bannerTopo.slick-slide { max-height: 415px; }

    /* INDEX */ 
        /* QUEM SOMOS */
        .quem-somos { padding: 0 20px; }
        .box-video-home { padding-left: 0; }
        .video-home { height: 440px; margin-top: 25px; }

        /* NOSSAS PAPINHAS */
        .pageNossasPapinhas{ padding: 0 20px; }
        .pageNossaLojinha{ padding: 0 20px; }

        /* NOSSA LOJINHA */
        .box-nuvem-fotos img { display: none; }

        /* PAGE CONTATO */
        .pageContato{ padding: 0 20px; }
        .pageContato input { width: 100%; }
        .pageContato .fotocontato2 { display: none; }
        .pageContato .colunaform { margin: 5px 0; }
        .pageContato .box-mapa-contato { margin: 15px 0; }
}

@media only screen and (min-width: 425px) and (max-width: 768px) {
    /* TOPO | MENU | RODAPE */
    .menuMobile{ display: inline-block; width: 100%; float: left; }
    .menuMobile .col-xs-6,
    .menuMobile .col-xs-5,
    .menuMobile .col-xs-1 { float: left; }
    .menuDesktop{ display: none; }
    .navbar-header{margin-top: 12px;}
    .logoMobile{ float: left; }
    .header-list { padding: 5px 0 5px; }
    .botao-carrinho { float: right; margin: 8px 15px;  }
    .menuMobile ul{ list-style: none; }
    .menuMobile ul li{ text-align: left; }
    .menuMobile ul li a{ color:#f05862; font-family: "latoregular"; line-height: 30px; text-decoration: none; }
    .menuMobile ul li a:hover{ font-weight: 700; }
    .divRodapeLogo{ text-align: center; }
    .pageRodape{ padding: 0 20px; }
    .banner.bannerTopo.slick-slide { max-height: 415px; }
    .rodape { margin-top: 25px; }

    /* INDEX */ 
        /* QUEM SOMOS */
        .quem-somos { padding: 0 20px; }
        .box-video-home { text-align: center; }
        .video-home { max-height: 430px; margin-top: 60px; padding:0; padding-left:0; }
        .box-video-home { padding:20px; }
        .video-home img { width: 100%;  }

        /* NOSSAS PAPINHAS */
        .pageNossasPapinhas{ padding: 0 20px; }
        .pageNossaLojinha{ padding: 0 20px; }

        /* NOSSA LOJINHA */
        .box-nuvem-fotos img { display: none; }

        /* PAGE CONTATO */
        .pageContato{ padding: 0 20px; }
        .pageContato input { width: 100%; }
        .pageContato .fotocontato2 { display: none; }
        .pageContato .colunaform { margin: 5px 0; }
        .pageContato .box-mapa-contato { margin: 15px 0; }

    /* QUEM SOMOS */
    #banner-quemsomos{ position: relative; top:75px; }
    #banner-dicasnutri{ position: relative; top:75px; }
    
    #tituloSobreNos{margin-top: 75px;}
    #duvidas #tituloDuvidas { margin: 95px 0 40px 0; }
    #tituloDicasNutri{margin-top: 75px;}
    #quem-somos .infoPessoa{
        text-align: center;
        position: relative;
        bottom: initial;
    }

    /* DICAS DA NUTRI */
    #dicas-nutri .boxPost { border: none; }
    #dicas-nutri .imagemPostDicasNutri{ border: none; }
    #dicas-nutri .btnLeiaMais {
        position: relative;
        display: inline-block;
    }   
    #dicas-nutri .imagemPostDicasNutri {
        height: 230px;
    }


}
@media only screen and (min-width: 580px) and (max-width: 768px) {
    .video-home {
        height: 336px;
        margin-top: 35px;
    }
}
@media only screen and (min-width: 425px) and (max-width: 580px) {
    .video-home {
        height: 245px;
        margin-top: 35px;
    }
}


@media only screen and (max-width: 425px) {
    /* TOPO | MENU | RODAPE */
    .menuMobile{ display: inline-block; width: 100%; float: left; }
    .menuMobile .col-xs-6,
    .menuMobile .col-xs-5,
    .menuMobile .col-xs-1 { float: left; }
    .menuDesktop{ display: none; }
    .navbar-header{margin-top: 12px;}
    .logoMobile{ float: left; margin: 0 20px; }
    .header-list { padding: 5px 0 5px; }
    .botao-carrinho { float: right; margin: 8px 15px;  }
    .menuMobile ul{ list-style: none; }
    .menuMobile ul li{ text-align: left; }
    .menuMobile ul li a{ color:#f05862; font-family: "latoregular"; line-height: 30px; text-decoration: none; }
    .menuMobile ul li a:hover{ font-weight: 700; }
    .divRodapeLogo{ text-align: center; }
    .pageRodape{ padding: 0 20px; }
    .banner.bannerTopo.slick-slide { max-height: 415px; }
    .box-video-home { padding-left: 0; }
    .box-video-home a img { padding: 15px; }
    .box-sitemap { padding-bottom: 0px; }
    .rodape { margin-top: 30px; }

    /* INDEX */ 
        /* QUEM SOMOS */
        .quem-somos { padding: 0 20px; }
        .video-home { height: 430px; margin-top: 60px; }

        /* NOSSAS PAPINHAS */
        .pageNossasPapinhas{ padding: 0 20px; }
        .pageNossaLojinha{ padding: 0 20px; }

        /* NOSSA LOJINHA */
        .box-nuvem-fotos img { display: none; }

        /* PAGE CONTATO */
        .pageContato{ padding: 0 20px; }
        .pageContato input { width: 100%; }
        .pageContato .fotocontato2 { display: none; }
        .pageContato .colunaform { margin: 5px 0; }
        .pageContato .box-mapa-contato { margin: 15px 0; }
        .video-home {
            height: 175px;
            margin-top: 35px;
        }


    /* QUEM SOMOS */
    #banner-quemsomos{ position: relative; top:75px; }
    #tituloSobreNos{margin-top: 75px;}
    #quem-somos .infoPessoa{
        text-align: center;
        position: relative;
        bottom: initial;
    }
    .pessoaDiv{ text-align: center; }
    #quem-somos div.pessoaDiv div.imagemPessoa { display: inline-block; }

    /* DICAS DA NUTRI */
    #banner-dicasnutri{ position: relative; top:75px; }
    #tituloDicasNutri { margin-top: 75px; }
    #duvidas #tituloDuvidas { margin: 55px 0 25px 0; }
    #dicas-nutri .boxPost { border: none; }
    #dicas-nutri .imagemPostDicasNutri{ border: none; }
    #dicas-nutri .btnLeiaMais {
        position: relative;
        display: inline-block;
        left: calc(50% - 100px);
        bottom: 0px;
    }   
    #dicas-nutri .imagemPostDicasNutri {
        height: 230px;
    }

    #dicas-nutri .boxPost {
        height: auto;
    }
    #dicas-nutri .boxPost {
        margin: 30px 0 0px;
    }

    #tituloDuvidas img{width: 100%;}
    #tituloDicasNutri img{width: 100%;}
}

@media only screen and (max-width: 768px) {
    .divCompreAqui{
        display: none;
    }
    #onde-encontrar .map {
        margin-top: 0;
    }
    #onde-encontrar .info {
        padding: 0;
    }
    #onde-encontrar .infoHorario {
        margin-top: 0;
    }
}

@media only screen and (min-width: 768px) {
    .divCompreAqui2 { display: none; }
    .divCompreAqui{ float: left; }
}

#banner-nossaspapinhas img{
    position: relative; top:75px;
}
#tituloNossasPapinhas img{
    display: inherit;
    margin-top: 75px;
}

.submenuCategorias div {
    text-align: center;
    color: #5b7793;
    font-family: "latoregular";
    font-size: 24px;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.6;
}
.submenuCategorias div.active {
    opacity: 1;
}
.submenuCategorias div:hover {
    opacity: 1;
    cursor: pointer;
}

.fa-star{
    -webkit-transform: rotate(50deg);
    -moz-transform: rotate(50deg);
    -o-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}
.starFruta{ color: #57b6e1; }
.star6{ color: #f05862; }
.star8{ color: #a9c533; }
.star12{ color: #8b78bf; }


.blocoProduto-shadow{
    -webkit-transform: rotate(3deg);
    -moz-transform: rotate(3deg);
    -o-transform: rotate(3deg);
    -ms-transform: rotate(3deg);
    transform: rotate(3deg);
    background-color: #aacedd;
    width: 358px;
    height: 534px;
    position: relative;
    position: absolute;
}
.blocoProduto{
    background-color: #e4f7ff;
    width: 358px;
    height: 534px;
    position: absolute;
}