/*
////////////////////////////////////////////////////////////////
	Outdoor
	This class work for feactured sections on head web site	
////////////////////////////////////////////////////////////////
*/
	.outdoor{
		padding: 48px 60px;

		h1, .typo-h-1{
			font-size: 62px;
			margin: 0;
			margin-top: 20px;
			margin-bottom: 10px;
		}

		p, .typo-p{
			font-size: 22px;
			margin: 0;
			margin-bottom: 15px;

		}
	}

/*
//////////////////
	//Outdoor
/////////////////
*/
