/*
########################################
RESPONSIVE > NOTEBOOK
########################################
*/
/*
---------------------------------------
GERAL
---------------------------------------
*/
@media only screen and (min-width: 1024px) and (max-width: 1440px){
  #primeira-sessao{
  	.divisor{
      top: -120px;
  	}
  }
  .linhacontato{
     position: relative;
     z-index: 7;
  }
  .fotocontato1{
     z-index: 6;
  }
  .botao-visite{
     display: block;
  }
  .box-video-home{
    margin-left: 0;
  }
  .formContato{
     .row{
        position: inherit;
     }
  }
  .colunaform{
     margin-right: 0px;
  }
  .nossas-papinhas-lista{
     ul{
         li{
             width: 275px;
             height: 275px
         }
     }
  }
  .colunaform{
    margin-right: 120px;
  }
  .mapa-contato{
    margin-top: 60px;
  }
}
/*
---------------------------------------
//GERAL
---------------------------------------
*/
/*
---------------------------------------
14' POLEGADAS
---------------------------------------
*/
@media only screen and (min-width: 1024px) and (max-width: 1280px){

}
/*
---------------------------------------
//14' POLEGADAS
---------------------------------------
*/
/*
---------------------------------------
16' POLEGADAS
---------------------------------------
*/
@media only screen and (min-width: 1280px) and (max-width: 1440px){

}
/*
---------------------------------------
//16' POLEGADAS
---------------------------------------
*/
/*
########################################
//RESPONSIVE > NOTEBOOK
########################################
*/