/*
|||||||||||||||||||||||||||||||||||||
	name: Champs
	version: 1.0.0
	author: Raro! Brand & Design
|||||||||||||||||||||||||||||||||||||
*/


/*
	#####################
		   HEADER
	#####################
*/
	.header-list{
		padding: 15px 0 23px 0;
		background-color: #fff;
		nav{
			ul{
				padding: 0;
				margin: 0;
				li{
					margin-right: 45px;
					display: inline;
					list-style-type: none;
					a{
						color: #5b7793;
						text-decoration: none;
						&:hover, &:focus{
							outline: none;
						}
						img{
							vertical-align: middle;
						}
					}
					&:last-child{
						margin-right: 0;
					}
				}
				button{
					border: 0;
					padding: 9px 10px;
					border-radius: 13px;
					background-color: #f05862;
					color: #fff;
					img{
						vertical-align: middle;
					}
				}
			}
		}
	}




/*
	#####################
		  //HEADER
	#####################
*/
.banner{
	display: block;
    width: 100%;
    max-height: 796px;
    height: 735px;
    background-repeat: no-repeat;
    background-size: cover;
}
.row{
	z-index: 7;
	position: relative;
}
#primeira-sessao{
	position: relative;
	z-index: 7;
	display: block;
	background-color: #fffef0;
	.divisor{
	    width:100%;
	    height: 120px;
	    top: -70px;
    	position: relative;
		.divisor-amarelo{
			position: absolute;
			top: 0;		
		}
	}
}
#segunda-sessao{
	position: relative;
	display: block;
	background-color: #fff0f1;
	padding-bottom: 100px;
	z-index: 7;
	.divisor{
	    width:100%;
	    height: 120px;
	    top: -70px;
    	position: relative;
		.divisor-rosa{
			position: absolute;
			top: 0;		
		}
	}
}
#terceira-sessao{
	z-index: 7;
	position: relative;
	display: block;
	background-color: #ebf9ff;
	padding-bottom: 100px;
	.divisor{
	    width:100%;
	    height: 120px;
	    top: -70px;
    	position: relative;
		.divisor-rosa{
			position: absolute;
			top: 0;		
		}
	}
}
.titulo{
	font-size: 36px;
	font-family: 'GothamRoundedBold';
	margin-bottom: 0px;
}
.quem-somos{
	.titulo{
	   color: #f2e454;	 
	}
	span{
	  font-family: 'latoregular';
	  color: #787878;
	}
	a{
	    display: block;
    	margin-top: 30px;
	}
}

.visite-nossa-lojinha{
	.titulo{
	   color: #f7717a;	 
	}
	span{
	  font-family: 'latoregular';
	  color: #787878;
	}
	a{
	    display: block;
    	margin-top: 30px;
	}
}
.video-home{
   background-image: url(../images/video-home.png);
   width: 505px;
   height: 333px;
   &:hover{
   	 background-image: url(../images/video-home-hover.png);
   }
}
.contato{
	.titulo{
	   color: #56b6e1;	 
	   margin-top: -75px;
	}
	span{
	  font-family: 'latoregular';
	  color: #787878;
	}
	a{
	    display: block;
    	margin-top: 30px;
	}
}

.box-video-home{
	margin-left: 90px;
}
.separador-frutas{
	margin: 60px 0;
}
.nossas-papinhas{
	.titulo{
		   color: #f2e454;
		   margin-bottom: 0px;	 
		}
		span{
		  font-family: 'latoregular';
		  color: #787878;
		  margin-bottom: 40px;
		  display: block;
		}	
}
.nossas-papinhas-lista{
	ul{
	  margin: 0;
	  padding: 0;
	  li{
	     list-style: none;
	     display: inline-block;
	     width: 284px;
	     height: 284px;
	     position: relative;
	     text-align: center;
	     margin-right: 25px;
	     &:last-child{
	       margin-right: 0px;
	     }
	     a
	     {
	     	color: #FFF;
	     	font-family: 'lovile_type_boldbold';
	     	text-decoration: underline;
	     	width: 281px;
	     	height: 280px;
	     	overflow: hidden;
	     	display: block;
	     	span{
		        position: absolute;
		        top: 36%;	   		        
		        font-size: 38px;		        
		        width: 284px;	
		        text-decoration: underline;	 
		        z-index: 7;
    			display: block;
		    }
		    img{
		       transition: all 0.25s;
		       &:hover{
		       	   transform: scale(1.2);		       	   
		       }
		    }
	     }	     
	  }
	}	
}
.botao{
	font-size: 14px;
	border-radius: 8px;
	padding: 3px 7px;
    display: inline-block;
    font-weight: bold;
    transition: all 0.25s;
    box-shadow: 0px 6px 5px -2px rgba(132,133,135,1);
    border: none;
    position: relative;
}
.botao-saibamais{
	display: block;
    margin-top: 25px;
    padding: 11px 30px;
    color: #FFF;
    background-color: #56b6e1;
    &:hover{
    	background-color: #72c6ed;
    }
}
.botao-conheca{
	display: inline-block;
    margin-top: 25px;
    padding: 11px 30px;
    color: #FFF;
    background-color: #56b6e1;
    &:hover{
    	background-color: #72c6ed;
    }
}
.botao-visite{
	display: inline-block;
    margin-top: 25px;
    padding: 15px 30px;
    color: #FFF;
    vertical-align: middle;
    background-color: #f05862;
    &:hover{
    	background-color: #fc7780;
    }
    img{
        vertical-align: middle;
    	margin-top: -3px;
    	margin-right: 10px;
    }
}
.botao-carrinho{
	color: #FFF;
	background-color: #f05862;		
	border: 0;
    padding: 15px 15px 10px 15px;
    border-radius: 13px;
    background-color: #f05862;
    color: #fff;
    &:hover{
       background-color: #fc7780;
    }
    img{
        margin-top: -2px;
    	vertical-align: middle;
    	margin-right: 10px;
    }
}
.botao-conhecatodas{
	margin-top: 60px;
	text-align:center;
	margin-bottom: 100px;
}

.box-nuvem-fotos{
	margin-top: -70px;

}

.inputContato{
    border-radius: 6px;
	background-color: #b1def1;
	padding: 10px;
	border: none;
	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
	  color: #5b7793;
	}
	&::-moz-placeholder { /* Firefox 19+ */
	  color: #5b7793;
	}
	&::-ms-input-placeholder { /* IE 10+ */
	  color: #5b7793;
	}
	&::-moz-placeholder { /* Firefox 18- */
	  color: #5b7793;
	}
}
.linhaform{
	margin-bottom: 10px;
}
.colunaform{
	margin-right: 5px;
	&:last-child{
		margin-right: 0;
	}
}
.formContato{
	margin-top: 40px;
}
.box-mapa-contato
{
	border: 7px solid #57b7e1;
	span{
	   display: block;
	   width: 100%;
	   background-color: #57b7e1;
	   color: #FFF;
	   font-size:16px;	  
	   padding: 3px; 
	}
}
.rodape{
	background-color: #5b7793;
	padding-top: 60px;
}
.box-sitemap{
    padding-bottom: 60px;
	h2{
	   color: #FFF;
	   font-size: 18px;
	   font-weight: bold;
	}
	ul{
	    margin: 0;
	    padding: 0;
	    margin-top: -10px;
	    li{
	        list-style: none;
	        margin: 10px 0;
	    	a{
	        	color: #FFF;
	        	font-size: 16px;
	        	text-decoration: none;
	        	font-family: latolight;
	        }
	        form{
	          input{
			    width: 70%;
			    border-radius: 8px;
			    display: inline;
			    margin-top: 5px;
			    float: left;
			    padding: 8px;
			    border: none;
	          }
	          img{
	            display: inline;
			    margin-left: -20px;
			    margin-top: 3px;
	          }
	        }
	    }
	}
}
.barra-final{
	background-color: #444;
	color: #FFF;
	font-size: 13px;
	padding: 20px 0 15px 0;
	text-align: center;
}
.fotofundo{
	position: absolute;
	z-index: 6;
	&.fototopo2{
	   left: -15px;
	   top: 15%;
	}
	&.fototopo3{
    	left: 2%;
    	top: 75%;
	}
	&.fototopo4{
		right: 3%;
    	top: 14%;
	}
	&.fototopo1{
    	right: 0;
    	top: 63%;
	}
	&.fotovisite1{
	     left: 10px;
	     top: 7%;
	}
	&.fotovisite2{
		right: 4%;
		top: 8%;
	}
	&.fotocontato1{
	   left: 0;
	   top: 5%;
	}
	&.fotocontato2{
	   right: 0;
	   top: 6%;
	}

}