/*
//////////////////////////////////
	Typography
//////////////////////////////////
*/
	/*
	////////////////////////////
		Variable
	///////////////////////////
	*/
			
		/*
			Colors
		======================
		*/
			@color_light: #CCC;
			@color_primary: #da4f48;
			@color_strong: #aa413b;

		/*
			Font
		======================

			Gotham Rounded
		*/
			@gotham_light: 'GothamRoundedLight';
			@gotham_bold: 'GothamRoundedBold';
			@gotham_italic: Arial, sans-serif;
			@gotham_size: 16px;

		/*
			Lato
		*/
			@lato_light: 'latolight';
			@lato_bold: 'latobold';
			@lato_regular: 'latoregular';
			@lato_italic: Arial, sans-serif;
			@lato_size: 16px;

		/*
			Lovile Type
		*/
			@lovile_medium: 'lovile_type_mediumregular';
			@lovile_regular: 'lovile_typeregular';
			@lato_italic: Arial, sans-serif;
			@lato_size: 16px;

		/*
	////////////////////////////
		//Variable
	///////////////////////////
	*/

	/*
	////////////////////////////
		Fontes
	///////////////////////////
	*/
		/* GOTHAM */
		.gotham-light{
			font-family: @gotham_light;
		}
		.gotham-bold{
			font-family: @gotham_bold;
		}

		/* LATO */
		.lato-light{
			font-family: @lato_light;
		}
		.lato-bold{
			font-family: @lato_bold;
		}

		/* LOVILE */
		.lovile-medium{
			font-family: @lovile_medium;
		}
		.lovile-regular{
			font-family: @lovile_regular;
		}
	/*
	///////////////////////////
		Settings
	///////////////////////////
	*/
		/*
			Standard
		==================
		*/
			body{
				font-family: @lato_regular;
				font-size: @lato_size;
			}
	/*
	///////////////////////////
		//Settings
	///////////////////////////
	*/

	/*
	///////////////////////////
		Helpers
	///////////////////////////
	*/
		/*
		//////////////////////
			Align
		//////////////////////
		*/
			/* 
				Center
			==============	
			*/
				.text-center{
					text-align: center;
				}
			/*
				Left
			================
			*/
				.text-left{
					text-align: left;
				}
			/*
				Right
			================
			*/
				.text-right{
					text-align: right;
				}
		/*
		//////////////////////
			//Align
		//////////////////////
		*/

		/*
		//////////////////////
			Transform
		//////////////////////
		*/
			/*
				Uppercase
			================
			*/
				.text-up{
					text-transform: uppercase;
				}
			/*
				Lowercase
			================
			*/
				.text-down{
					text-transform: lowercase;
				}
		/*
		//////////////////////
			//Transform
		//////////////////////
		*/

		/*
		/////////////////////
			Title
		////////////////////
		*/
			.title{
				overflow: hidden;
				font-weight: bold;
				text-overflow: ellipsis;
				max-width: 100%;
			}
		/*
		/////////////////////
			//Title
		////////////////////
		*/
	/*
	///////////////////////////
		//Helpers
	///////////////////////////
	*/

	/*
	///////////////////////////
		Types
	///////////////////////////
	*/
		//bold
		[class^=typo-h-]{
			font-weight: bold;
			margin: 0;
			margin-top: 10px;
			margin-bottom: 15px;
		}
		//headlines
		.typo-h-1{
			font-size: 36px;
		}
		.typo-h-2{
			font-size: 30px;
		}
		.typo-h-3{
			font-size: 24px;
		}
		.typo-h-4{
			font-size: 18px;
		}
		.typo-h-5{
			font-size: 14px;
		}
		.typo-h-6{
			font-size: 12px;
		}

		//caption
		.typo-caption{
			font-size: 14px;
		}

		//paragraph
		.typo-p{
			font-size: 16px;
		}
	/*
	///////////////////////////
		//Types
	///////////////////////////
	*/

	/*
	///////////////////////////
		Display
	///////////////////////////
	*/	
		//inline
		.typo-display-i{
			display: inline;
		}

		//inline block
		.typo-display-ib{
			display: inline-block;
		}

		//block
		.typo-display-b{
			display: block;
		}
	/*
	///////////////////////////
		//Display
	///////////////////////////
	*/

	h1, h2, h3, h4, h5, h6, strong{
		small{

			font-size: 75%;
			color: rgba(0, 0, 0, 0.7);
		}
		font-family: @gotham_bold;
	}

/*
//////////////////////////////////
	//Typography
//////////////////////////////////
*/

