/*
    ########################
        GothamRounded
    ########################
*/


@font-face {
    font-family: 'GothamRoundedBold';
    src: url('../font/gothamrnd/gothamrnd-bold.eot');
    src: url('../font/gothamrnd/gothamrnd-bold.eot') format('embedded-opentype'),
         url('../font/gothamrnd/gothamrnd-bold.woff') format('woff'),
         url('../font/gothamrnd/gothamrnd-bold.ttf') format('truetype'),
}

@font-face {
    font-family: 'GothamRoundedBook';
    src: url('../font/gothamrnd/gothamrnd-book.eot');
    src: url('../font/gothamrnd/gothamrnd-book.eot') format('embedded-opentype'),
         url('../font/gothamrnd/gothamrnd-book.woff') format('woff'),
         url('../font/gothamrnd/gothamrnd-book.ttf') format('truetype'),
}
@font-face {
    font-family: 'GothamRoundedMedium';
    src: url('../font/gothamrnd/gothamrnd-medium.eot');
    src: url('../font/gothamrnd/gothamrnd-medium.eot') format('embedded-opentype'),
         url('../font/gothamrnd/gothamrnd-medium.woff') format('woff'),
         url('../font/gothamrnd/gothamrnd-medium.ttf') format('truetype'),
}
@font-face {
    font-family: 'GothamRoundedLight';
    src: url('../font/gothamrnd/gothamrnd-light.eot');
    src: url('../font/gothamrnd/gothamrnd-light.eot') format('embedded-opentype'),
         url('../font/gothamrnd/gothamrnd-light.woff') format('woff'),
         url('../font/gothamrnd/gothamrnd-light.ttf') format('truetype'),
}

/*
    ########################
        Lato
    ########################
*/
    @font-face {
    font-family: 'latoblack';
    src: url('../font/Lato/lato-black-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoblack_italic';
    src: url('../font/Lato/lato-blackitalic-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-blackitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold';
    src: url('../font/Lato/lato-bold-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latobold_italic';
    src: url('../font/Lato/lato-bolditalic-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-bolditalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline';
    src: url('../font/Lato/lato-hairline-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-hairline-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latohairline_italic';
    src: url('../font/Lato/lato-hairlineitalic-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-hairlineitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoitalic';
    src: url('../font/Lato/lato-italic-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight';
    src: url('../font/Lato/lato-light-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latolight_italic';
    src: url('../font/Lato/lato-lightitalic-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-lightitalic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'latoregular';
    src: url('../font/Lato/lato-regular-webfont.woff2') format('woff2'),
         url('../font/Lato/lato-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
    
/*
    ########################
        //Lato
    ########################
*/


/*
    ########################
        Lovile Type
    ########################
*/

@font-face {
    font-family: 'lovile_type_boldbold';
    src: url('../font/loviletype/lovile_type_bold-webfont.woff2') format('woff2'),
         url('../font/loviletype/lovile_type_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lovile_type_mediumregular';
    src: url('../font/loviletype/lovile_type_medium-webfont.woff2') format('woff2'),
         url('../font/loviletype/lovile_type_medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'lovile_typeregular';
    src: url('../font/loviletype/lovile_type-webfont.woff2') format('woff2'),
         url('../font/loviletype/lovile_type-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*
    ########################
        //Lovile Type
    ########################
*/