/*
######################################
	RESPONSIVE XS
######################################
*/
	//Mobile Geral
	@media only screen and(min-width: 320px) and (max-width: 414px){
		/*
		##############################
			MENU BAR MOBILE, TABLETS
		##############################
	*/
		.menu{
			top: 45px;
			right: 10px;
			z-index: 99999;
		}

		.icon-menu{
			width: 30px;
			float: right;
			margin: 20px 20px;
		}
		.icon-menu .bar{
			width: 100%;
			height: 5px;
			float: right;
			border-radius: 5px;
			margin-bottom: 3px;
			background-color: #fff;
			transition: 0.2s linear;
		}

		.mov .bar:first-child{
			width: 50%;
			margin-left: 50%;
			margin-top: 3px;
			margin-bottom: 0;
			transform: rotate(44deg);
			transition: 0.2s linear;
		}
		.mov .bar:nth-child(2){
			width: 70%;
			margin-left: 30%;
			margin-bottom: 0;
			transition: 0.2s linear;
		}
		.mov .bar:last-child{
			width: 50%;
			margin-left: 50%;
			transform: rotate(-44deg);
			transition: 0.2s linear;
		}

		.sidebar{
			max-width: 100%;
			padding: 20px;
			height: 100%;
			position: fixed;
			bottom: 0;
			right: -100%;
			transition: 0.6s;
			background-color: rgb(0, 154, 147);
			box-shadow: -4px 0px 5px rgba(0,0,0,0.2);
			top: 0;
			z-index: 99999;

			button{
				border: 0;
				width: 40px;
				height: 40px;
				background-color: transparent;
				border-radius: 50%;
				i{
					color: #fff;
					font-size: 30px;
					
				}
				&:hover, &:focus{
					color: #333;
					
				}
			}
		}
		/*
			###########################
					//MENU BAR
			###########################

		*/

		/*
			###########################
					PAGE INDEX
			###########################

		*/


			.page-header--index{
				p{
					font-size: 20px;
				}
				img{
					width: 100px;
					height: auto;
				}
			}

			.menu-home--circle{
				padding: 25px 0 50px 0;
			}

		/*
			###########################
					//PAGE INDEX
			###########################

		*/


		/*
			###########################
					NAVEGAÇÃO
			############################
		*/
			.nav-menu{
				font-size: 25px;
				ul{
					li{
						padding-top: 10px;
						a{
							color: #fff;
							text-decoration: none;
							&:focus, &:hover{
								outline: none;
							}
						}
					}
				}
			}


			/*
				################################
						NAVEGAÇÃO - CIRCLE
				################################
			*/
				.menu-home--circle{
					ul{
						li{
							margin: 0 10px;
							font-size: 17px;
							a{
								width: 125px;
								height: 125px;
							}
						}
					}
				}

			/*
				################################
						//NAVEGAÇÃO - CIRCLE
				################################
			*/




		/*
			###########################
					LOCALIZAÇÃO
			###########################
		*/
			.page-localizacao--container{
				margin-top:20px;
				margin-bottom: 120px;
				.page-localizacao--block{
					iframe{
						width: 100%;
						height: 200px;
					}
				}
				.page-localizacao--text{
					text-align: center;
					margin: 0;
					font-size: 16px;
					margin-bottom: 20px;
				}
			}

		/*
			###########################
					//LOCALIZAÇÃO
			###########################
		*/

		/*
			###########################
					ESPAÇO
			###########################
		*/
			.page-o-espaco--container{
				.page-o-espaco--title{
					margin-bottom: 20px;
					h1{
						font-size: 17px;
						font-weight: bold;
						img{
							width: 40px;
							margin-right: 5px;
							height: auto;
						}
					}
				}
				.page-o-espaco--text{
					p{
						margin: 0;
						font-size: 16px;
					}
				}
			}
			
			.page-espaco--carousel{
				margin: 0;
				padding: 0 0 0 65px;
				button{
					width: 35px;
					height: 35px;
					&#button-prev{
						right: initial;
						left: 0;
						z-index: 8;
					}
					&#button-next{
						left: initial;
						right: 0;

					}
				}
				.page-o-espaco--divs{	
					.page-o-espaco--blocks{
						img{
							width: auto;
							height: auto;
							min-width: 272px;
							min-height: 200px; 
						}
					} 

				}
			}

			


		/*
			###########################
					//ESPAÇO
			###########################
		*/


		/*
			############################
					FOOTER
			############################
		*/ 
			.page-footer--copyright{
				font-size: 10px;
				display: block;
				text-align: center;
				img{
					display: block;
					margin: 0 auto;
					margin-bottom: 6px;
					width: 30px;
					height: auto;
				}
			}
			.page-footer--social{
				font-size: 10px;
				display: block;
				text-align: center;
				img{
					width: 28px;
					height: auto;
				}
			}
			.page-footer--dev{
				display: block;
				font-size: 10px;
				text-align: center;
				margin: 0;
				margin-bottom: 8px;
				img{
					width: 70px;
					height: auto;
				}
			}

		/*
			############################
					//FOOTER
			############################
		*/


		/*
			##################################
				PAGE - NOSSOS SERVIÇOS
			##################################
		*/
			.page-servicos--list{
				h2{
					font-size: 16px;
					display: block;
					padding: 5px 10px;
				}
				p{
					font-size: 14px;
				}
				h3{
					font-size: 16px;
				}
				li{
					font-size: 15px;
				}
			}

			.page-servicos--align{
				margin-top: 30px;
			}


		/*
			##################################
				//PAGE - NOSSOS SERVIÇOS
			##################################
		*/

		/*
			###########################
					BLOG	
			###########################
		*/
			.page-blog--container{
				.menu-home--blog{
					margin-top: 100px;
				}
				.page-blog--image img{
					width: 100%;
				}
				.page-blog--post{
					margin-top: 15px;
				}
			}

		/*
			###########################
					//BLOG	
			###########################
		*/


		/*
			#################################
					MENU BLOG
			#################################
		*/
			.page-index--plus{
				padding: 35px 0px 55px 0;
			}


		/*
			#################################
					//MENU BLOG
			#################################
		*/

		/*
			######################################
					NAVEGAÇÃO PAGES
			######################################
		*/
			.menu-page--img{
				img{
					width: 100px;
					height: auto;
				}
			}
	}
	//Mobile Portrait (Modo retrado)
	@media only screen and(min-width: 320px) and (max-width: 414px) and (orientation: portrait){
			/*
				################################
						NAVEGAÇÃO - CIRCLE
				################################
			*/
				.menu-home--circle{
					ul{
						li{
							margin: 0 10px;
							font-size: 17px;
							a{
								width: 125px;
								height: 125px;
							}
							&:nth-child(2)
							{
								margin-right: 0px;
							}
							&:nth-child(3){
								margin-left: 0px;
							}
						}
					}
				}

			/*
				################################
						//NAVEGAÇÃO - CIRCLE
				################################
			*/

	}
	//Mobile Landscape (Modo paisagem)
	@media only screen and(min-width: 480px) and (max-width: 920px) and (orientation: landscape){
			/*
		##############################
			MENU BAR MOBILE, TABLETS
		##############################
		*/
			.menu{
				top: 45px;
				right: 10px;
				z-index: 99999;
			}

			.icon-menu{
				width: 30px;
				float: right;
				margin: 20px 20px;
			}
			.icon-menu .bar{
				width: 100%;
				height: 5px;
				float: right;
				border-radius: 5px;
				margin-bottom: 3px;
				background-color: #fff;
				transition: 0.2s linear;
			}

			.mov .bar:first-child{
				width: 50%;
				margin-left: 50%;
				margin-top: 3px;
				margin-bottom: 0;
				transform: rotate(44deg);
				transition: 0.2s linear;
			}
			.mov .bar:nth-child(2){
				width: 70%;
				margin-left: 30%;
				margin-bottom: 0;
				transition: 0.2s linear;
			}
			.mov .bar:last-child{
				width: 50%;
				margin-left: 50%;
				transform: rotate(-44deg);
				transition: 0.2s linear;
			}

			.sidebar{
				max-width: 100%;
				padding: 20px;
				height: 100%;
				position: fixed;
				bottom: 0;
				right: -100%;
				transition: 0.6s;
				background-color: rgb(0, 154, 147);
				box-shadow: -4px 0px 5px rgba(0,0,0,0.2);
				top: 0;
				z-index: 99999;

				button{
					border: 0;
					width: 40px;
					height: 40px;
					background-color: transparent;
					border-radius: 50%;
					i{
						color: #fff;
						font-size: 30px;
						
					}
					&:hover, &:focus{
						color: #333;
						
					}
				}
			}
		/*
			###########################
					//MENU BAR
			###########################


		/*
			###########################
					NAVEGAÇÃO
			############################
		*/
			.nav-menu{
				font-size: 25px;
				ul{
					li{
						padding-top: 10px;
						a{
							color: #fff;
							text-decoration: none;
							&:focus, &:hover{
								outline: none;
							}
						}
					}
				}
			}



			/*
				################################
						NAVEGAÇÃO - CIRCLE
				################################
			*/
				.menu-home--circle{
					ul{
						li{
							margin: 0 10px;
							font-size: 17px;
							a{
								width: 125px;
								height: 125px;
							}
							&:nth-child(2)
							{
								margin-right: 0px;
							}
							&:nth-child(3){
								margin-left: 0px;
							}
						}
					}
				}

			/*
				################################
						//NAVEGAÇÃO - CIRCLE
				################################
			*/
				/*
			############################
					FOOTER
			############################
		*/ 
				.page-footer--copyright{
					font-size: 10px;
					display: block;
					text-align: center;
					img{
						display: block;
						margin: 0 auto;
						margin-bottom: 6px;
						width: 30px;
						height: auto;
					}
				}
				.page-footer--social{
					font-size: 10px;
					display: block;
					text-align: center;
					img{
						width: 28px;
						height: auto;
					}
				}
				.page-footer--dev{
					display: block;
					font-size: 10px;
					text-align: center;
					margin: 0;
					margin-bottom: 8px;
					img{
						width: 70px;
						height: auto;
					}
				}

		/*
			############################
					//FOOTER
			############################
		*/

			

	}
/*
######################################
	//RESPONSIVE XS
######################################
*/