/*
######################################
	RESPONSIVE SM
######################################
*/
	//Tablet Geral
	@media only screen and(min-width: 768px) and (max-width: 1024px){
	/*
		##############################
			MENU BAR MOBILE, TABLETS
		##############################
	*/
		.menu{
			top: 45px;
			right: 10px;
			z-index: 99999;
		}

		.icon-menu{
			width: 30px;
			float: right;
			margin: 20px 20px;
		}
		.icon-menu .bar{
			width: 100%;
			height: 5px;
			float: right;
			border-radius: 5px;
			margin-bottom: 3px;
			background-color: #fff;
			transition: 0.2s linear;
		}

		.mov .bar:first-child{
			width: 50%;
			margin-left: 50%;
			margin-top: 3px;
			margin-bottom: 0;
			transform: rotate(44deg);
			transition: 0.2s linear;
		}
		.mov .bar:nth-child(2){
			width: 70%;
			margin-left: 30%;
			margin-bottom: 0;
			transition: 0.2s linear;
		}
		.mov .bar:last-child{
			width: 50%;
			margin-left: 50%;
			transform: rotate(-44deg);
			transition: 0.2s linear;
		}

		.sidebar{
			max-width: 100%;
			padding: 20px;
			height: 100%;
			position: fixed;
			bottom: 0;
			right: -100%;
			transition: 0.6s;
			background-color: rgb(0, 154, 147);
			box-shadow: -4px 0px 5px rgba(0,0,0,0.2);
			top: 0;
			z-index: 99999;

			button{
				border: 0;
				width: 40px;
				height: 40px;
				background-color: transparent;
				border-radius: 50%;
				i{
					color: #fff;
					font-size: 20px;
					
				}
				&:hover, &:focus{
					color: #333;
					
				}
			}
		}
		/*
			###########################
					//MENU BAR
			###########################

		*/

		/*
			###########################
					NAVEGAÇÃO
			############################
		*/
			.nav-menu{
				font-size: 25px;
				ul{
					padding: 0;
					li{
						padding-top: 10px;
						a{
							color: #fff;
							text-decoration: none;
							&:focus, &:hover{
								outline: none;
							}
						}
					}
				}
			}
		/*
			###########################
					//NAVEGAÇÃO
			############################
		*/

		/*
			###########################
					INDEX
			###########################
		*/

			.menu-home--circle{
				ul{
					li{
						margin: 0 10px;
						a{
							box-sizing: border-box;
						}
					}
				}
			}


		/*
			###########################
					//INDEX
			###########################
		*/

		/*
			############################
					FOOTER
			############################
		*/ 
			.page-footer--copyright{
				font-size: 14px;
			}
			.page-footer--social{
				font-size: 14px;
			}
			.page-footer--dev{
				font-size: 14px;
			}

		/*
			############################
					//FOOTER
			############################
		*/


		/*
			###########################
					ESPAÇO
			###########################
		*/
			.page-espaco--carousel{
				margin: 0;
				padding: 0 5px 0 60px;
				button{
					&#button-prev{
						right: initial;
						left: 0;
						z-index: 8;
					}
					&#button-next{
						left: initial;
						right: 0;

					}
				}
			}

		/*
			###########################
					//ESPAÇO
			###########################
		*/

			/*
			###########################
					LOCALIZAÇÃO
			###########################
		*/
			.page-localizacao--container{
				margin-top: 60px;
				margin-bottom: 100px;
				.page-localizacao--text{
					font-size: 25px;
					margin: 0;
					margin-bottom: 15px;
				}
				p{
					text-align: center;
				}
			}

		/*
			###########################
					//LOCALIZAÇÃO
			###########################
		*/



		/*
			###########################
					CONTATO
			###########################
		*/
				.page-contato--container{
					.page-contato--info{
						text-align: center;
					}
					.page-contato--text{
						text-align: center;
					}
				}
		/*
			###########################
					//CONTATO
			###########################
		*/

		/*
			###########################
					BLOG	
			###########################
		*/
				.page-blog--container{
					.menu-home--blog{
						margin-top: 100px;
					}
					.page-blog--image img{
						width: 100%;
					}
					.page-blog--post{
						margin-top: 15px;
					}
				}

		/*
			###########################
					//BLOG	
			###########################
		*/


	}
	//Tablet Portrait (Modo retrado)
	@media only screen and(min-width: 600px) and (max-width: 800px) and (orientation: portrait){

	}
	//Tablet Landscape (Modo paisagem)
	@media only screen and(min-width: 960px) and (max-width: 1280px) and (orientation: landscape){
	}


	//7
	@media only screen and(min-width: 600px) and (max-width: 767px) and (orientation: portrait){
		/*
		##############################
			MENU BAR MOBILE, TABLETS
		##############################
	*/
		.menu{
			top: 45px;
			right: 10px;
			z-index: 99999;
		}

		.icon-menu{
			width: 30px;
			float: right;
			margin: 20px 20px;
		}
		.icon-menu .bar{
			width: 100%;
			height: 5px;
			float: right;
			border-radius: 5px;
			margin-bottom: 3px;
			background-color: #fff;
			transition: 0.2s linear;
		}

		.mov .bar:first-child{
			width: 50%;
			margin-left: 50%;
			margin-top: 3px;
			margin-bottom: 0;
			transform: rotate(44deg);
			transition: 0.2s linear;
		}
		.mov .bar:nth-child(2){
			width: 70%;
			margin-left: 30%;
			margin-bottom: 0;
			transition: 0.2s linear;
		}
		.mov .bar:last-child{
			width: 50%;
			margin-left: 50%;
			transform: rotate(-44deg);
			transition: 0.2s linear;
		}

		.sidebar{
			max-width: 100%;
			padding: 20px;
			height: 100%;
			position: fixed;
			bottom: 0;
			right: -100%;
			transition: 0.6s;
			background-color: rgb(0, 154, 147);
			box-shadow: -4px 0px 5px rgba(0,0,0,0.2);
			top: 0;
			z-index: 99999;

			button{
				border: 0;
				width: 40px;
				height: 40px;
				background-color: transparent;
				border-radius: 50%;
				i{
					color: #fff;
					font-size: 30px;
					
				}
				&:hover, &:focus{
					color: #333;
					
				}
			}
		}
		/*
			###########################
					//MENU BAR
			###########################

		*/

		/*
			###########################
					NAVEGAÇÃO
			############################
		*/
			.nav-menu{
				font-size: 25px;
				ul{
					li{
						padding-top: 10px;
						a{
							color: #fff;
							text-decoration: none;
							&:focus, &:hover{
								outline: none;
							}
						}
					}
				}
			}
		/*
			###########################
					//NAVEGAÇÃO
			############################
		*/





		/*
			###########################
					INDEX
			###########################
		*/


		.menu-home--circle{
			ul{
				li{
					margin: 0 5px;
					font-size: 17px;
					a{
						width: 125px;
						height: 125px;
					}
				}
			}
		}

		/*
			###########################
					//INDEX
			###########################
		*/

		/*
			###########################
					LOCALIZAÇÃO
			###########################
		*/
			.page-localizacao--container{
				margin-top: 60px;
				margin-bottom: 100px;
				.page-localizacao--text{
					font-size: 25px;
					margin: 0;
					margin-bottom: 15px;
				}
				p{
					text-align: center;
				}
			}

		/*
			###########################
					//LOCALIZAÇÃO
			###########################
		*/


		/*
			##################################
				PAGE - NOSSOS SERVIÇOS
			##################################
		*/
			.page-servicos--align{
				margin-top: 40px;
			}


		/*
			##################################
				//PAGE - NOSSOS SERVIÇOS
			##################################
		*/
			/*
			############################
					FOOTER
			############################
		*/ 
			.page-footer--copyright{
				font-size: 15px;
				display: block;
				text-align: center;
				img{
					display: block;
					margin: 0 auto;
					margin-bottom: 6px;
					width: 30px;
					height: auto;
				}
			}
			.page-footer--social{
				font-size: 15px;
				display: block;
				text-align: center;
				img{
					width: 28px;
					height: auto;
				}
			}
			.page-footer--dev{
				display: block;
				font-size: 15px;
				text-align: center;
				margin: 0;
				margin-bottom: 8px;
				img{
					width: 70px;
					height: auto;
				}
			}

		/*
			############################
					//FOOTER
			############################
		*/
		
			.page-o-espaco--container{
				.page-o-espaco--divs{	
					.page-o-espaco--blocks{
						img{
							width: 100%;
						}
					}
				}
			}
			
}





/*
######################################
	//RESPONSIVE SM
######################################
*/